* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 1.5rem;
    width: 60%;
    margin: 1rem auto;

    > .left {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;

        > .box {
            height: 400px;    
            text-align: center;
            border: 1px solid red;
            border-radius: 10px;

            > div {
                word-break: break-all;
            } 
        }

        > #first-box {
            grid-column: 1 / span 2;
            border: 1px solid red;
        } 
    }

    

    > .right {
        border: 1px solid red;

        > ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            background-color: #fb7bff;

             > li {
                text-align: center;
                padding: 0.75rem 0;

                > a {
                    text-decoration: none;
                    color: white;
                }
             }
        }
    }