
navbar {
    > c {
        width: 100%;
        background-color: #fb7bff;

        > .nav-container {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem 0;
            margin: 0 auto;
            color: white;
            background-color: #fb7bff;

            > .logo {
                padding: 0 0.5rem;
                font-size: 1.5rem;
            }

            > ul {
                display: flex;
                list-style: none;

                > li {
                    padding: 1rem;
    
                    > a {
                        color: white;
                        text-decoration: none;
                    }
                }
                
                > button {
                    background: #fb7bff;
                    padding: 1rem;
                    font-size: 17px;
                    cursor: pointer;
                    border: none;

                    > a {
                        color: white;
                    }
                }

                > button:hover {
                    background-color: #6b92ff;
                }
            }
        }      
    }
}

li:hover {
    background-color: #6b92ff;
}
    