* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#add-data-form {
    width: 50%;
    margin: 1rem auto;

    >.form-group {
        margin: 0.7rem auto;
    }
}