.large-screen-img > img {
    max-height: 65vh;
}

.small-screen-img > img {
    display: none;
}

.news-arti-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-arti-img > img {
    max-height: 65vw;
}

.mshowd {
    flex-direction: column;
}

.datek {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e5e4e2 !important;
    font-size: 5px;
}

.datek > a {
    color: pink;
    text-decoration: none;
}

.datek > a:hover {
    color: #ff34e1;
    transition: 0.5s;
}

.dtxt {
    font-size: 15px;
}

.contenta {
    border-top: 2px solid #e5e4e2 !important;
}

@media only screen and (max-width: 576px) {
    .large-screen-img > img {
        display: none;
    }

    .small-screen-img > img {
        display: block;
    }

    .news-arti-img {
        display: block;
        max-height: none;
    }

    .news-arti-img > img {
        width: 100%;
        max-height: none;
    }
}
