/* * {
    border: 1px solid red;
  } */
  .arti, #arti {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mshowd {
    flex-flow: column wrap;
}
.arti > .mshowd > .imgarti > img {
    width: 100%;
    max-width: 900px;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datek {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E5E4E2 !important;
    font-size: 5px;
}
.arti > .details > .artide > .topic {
    justify-content: center;
    align-items: center;
}
.dtxt {
    font-size: 15px;
}
.contenta   {
    border-top: 2px solid #E5E4E2 !important;
}