* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.date-filter {
    margin: 1rem auto;
    text-align: right;
    width: 50%;

    & input[type=date] {
        font-size: 1.25rem;
        padding: .25rem;
        background-color: #dfdfdf83;
        border: none;
    }

    & input[type=submit] {
        font-size: 1.25rem;
        padding: .25rem;
        background-color: #dfdfdf83;
        border: none;
    }
}

/* content */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 2rem;

    >.box {
        display: flex;
        height: 250px;
        width: 50%;
        background-color: #dfdfdf83;

        >.img {
            width: 50%;
            overflow: hidden;

            >img {
                height: auto;
                width: 100%;
            }
        }

        >.content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding: 0.7rem;

            >.topic {
                >a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.25rem;
                }
            }

            >.descr {
                opacity: 0.7;
            }

            >.category-date {
                display: flex;
                justify-content: space-between;

                >p {
                    margin: 0;
                }

                >.category {
                    color: #ee6fff;
                }
            }
        }
    }
}