.footer-tup .footer-site-logo img{
    width:100px;
  }
.footer-tup {
    font-family: 'prompt', sans-serif;
    background: #182A54;
    color: #fff;
    height: 200px;
    width: 100%;
}
.foot {
  display: flex;
  flex-direction: row;
}
.foot .ftext {
  flex-flow: column wrap; 
  font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
}
.fimg {
  padding: 0;
  width: 100%;
  height: 100px;
}
#flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}
#flex-container > .footer-tup {
  margin-top: auto;
}