.foot {
  display: flex;
  flex-direction: row;
}
#flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}
#flex-container > .footer-tup {
  margin-top: auto;
}
.footer {
  background-color: #182A54;
  color: whitesmoke;
  padding: 20px 0;
}
.footer p {
  margin-bottom: 0;
  padding: 0px 0px 0px 0px;
  
}
.foote {
  margin-top: 8px;
}
.footer img {
  object-fit: cover;
  max-width: 100px;
}
.fimg {
  object-fit: fill;
  width: auto;
  height: auto;
}
