@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

.head-title {
    border-left: 5px solid pink;
    padding-left: 0.75rem;
}

.card-img {
    object-fit: cover;
}

.small-screen-news {
    display: none;
}

@media only screen and (max-width: 992px) {
    .large-screen-news {
        display: none;
    }

    .small-screen-news {
        display: block;
    }
}

.card-img-overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(227, 227, 227, 0) 30%,
        rgba(255, 255, 255, 0) 100%
    );
}

#category-text {
    z-index: 5;
}

#category-text:hover {
    font-weight: bold;
}

.stretched-link:hover {
    color: #ff34e1;
    transition: 0.5s;
}