.grid-container {
    display: grid;
    grid-template-columns: 65% 33%;
    justify-content: space-between;
    width: 60%;
    margin: 1rem auto;

    & h1 {
        font-size: 2rem;
        padding: 1rem 0;
    }

    >.left {
        >.news-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.75rem;

            >.box {
                position: relative;
                height: 250px;
                width: 210px;

                >.img {
                    height: 60%;
                    overflow: hidden;

                    >img {
                        width: 100%;
                    }
                }

                >.topic {
                    width: 100%;
                    margin: 0.5rem 0;

                    >h3 {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        >a {
                            color: black;
                            text-decoration: none;
                        }

                        >a:hover {
                            color: #db00e6;
                        }
                    }
                }

                >.category-date {
                    position: absolute;
                    width: 100%;
                    display: flex;
                    gap: 0.75rem;

                    bottom: 0;

                    >.category {
                        color: #fb7bff;
                    }
                }
            }
        }
    }

    >.right {
        >.lv1-news-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            >.box {
                position: relative;
                display: flex;
                justify-content: space-between;
                height: 80px;

                >.img {
                    width: 30%;
                    overflow: hidden;

                    >img {
                        width: 100%;
                    }
                }

                >.content {
                    width: 67%;
                    display: flex;
                    flex-direction: column;

                    >.topic {
                        width: 100%;

                        >h3 {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;

                            >a {
                                color: black;
                                text-decoration: none;
                            }

                            >a:hover {
                                color: #db00e6;
                            }
                        }
                    }

                    >.category-date {
                        position: absolute;
                        width: 100%;
                        display: flex;
                        gap: .75rem;
                        bottom: 0;

                        >.category {
                            color: #fb7bff;
                        }
                    }
                }


            }
        }
    }
}