* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.date-filter {
    margin: 1rem auto;
    text-align: right;
    width: 50%;

    & input[type=date] {
        font-size: 1.25rem;
        padding: .25rem;
        background-color: #dfdfdf83;
        border: none;
    }

    & input[type=submit] {
        font-size: 1.25rem;
        padding: .25rem;
        background-color: #dfdfdf83;
        border: none;
    }
}

/* content */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    >.box {
        display: flex;
        min-height: 75px;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        background-color: #dfdfdf83;

        >div {
            margin: 0.7rem;
        }

        >.topic {
            >a {
                color: black;
                font-size: 1.2rem;
                text-decoration: none
            }

            >a:hover {
                color: pink;
            }
        }

        >.category-date {
            display: flex;
            justify-content: space-between;

            >.category {
                color: #ee6fff;
            }

            >p {
                margin: 0;
            }
        }
    }
}