.search {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
}

.btns {
    transform: translateY(7px);
}

.camptext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testcard {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.bgcard {
    background-color: #cccccc !important;
}

.ig {
    flex-grow: 0;
    flex-basis: 100px;
}

.testcard1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fakesearch {
    transform: translateX(255px);
}

.camptext h1 {
    font-size: 60px;
}

/* searchbox on morning news */
input:focus::placeholder {
    color: transparent;
}

/* #content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */