* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 1.5rem;
    width: 60%;
    margin: 1rem auto;

    >.left {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;

        >.box {
            margin: 1rem auto;
            height: 300px;
            width: 200px;
            overflow: hidden;

            >.img {
                height: 50%;
                overflow: hidden;

                >img {
                    width: 100%;
                }
            }

            >.content {
                margin: 0.5rem 0;

                >a {
                    color: black;
                    text-decoration: none;
                }

                >a:hover {
                    color: #db00e6;
                }
            }

            >.category-date {
                display: flex;
                justify-content: space-between;
                font-size: 0.8rem;

                >.category {
                    color: #db00e6;
                }
            }
        }
    }

    >.right {
        >ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            background-color: #fb7bff;

            >li {
                text-align: center;
                padding: 0.75rem 0;

                >a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}