* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;

    >h1 {
        font-size: 3rem;
        margin: 2rem;
    }
}

.date-filter {
    margin: 1rem auto;
    text-align: right;
    width: 50%;

    & input[type=date] {
        font-size: 1.25rem;
        padding: .25rem;
        background-color: #ddd;
        border: none;
    }

}

/* content */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 1rem;

    >.box {
        display: flex;
        height: 250px;
        width: 50%;

        >.img {
            width: 50%;
            overflow: hidden;

            >img {
                height: auto;
                width: 100%;
            }
        }

        >.content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding: 1rem;

            >.topic-descr {
                >.topic {
                    padding-bottom: 1rem;

                    >a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.25rem;
                    }

                    >a:hover {
                        color: pink;
                    }
                }

                >.descr {
                    opacity: 0.7;
                }
            }

            >.category-date {
                display: flex;
                justify-content: space-between;

                >.category {
                    color: pink;
                }
            }
        }
    }
}