/* * {
    border: 1px solid red;
  } */
.arti, #arti {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.arti > .imgarti > img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datek {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E5E4E2 !important;
    font-size: 5px;
}
.arti > .details > .artide > .topic {
    justify-content: center;
    align-items: center;
}
.dtxt {
    font-size: 15px;
}
.contenta   {
    border-top: 2px solid #E5E4E2 !important;
}