
.arti, #arti {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    

}
.arti > .imgarti > img {
    width: 700px;
    height: 700px;
    object-fit: cover;
}
.datek {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E5E4E2 !important;
    font-size: 5px;
}
.arti > .details > .artide > .topic {
    justify-content: center;
    align-items: center;
}
.dtxt {
    font-size: 15px;
}
.contenta   {
    border-top: 2px solid #E5E4E2 !important;
    border

}
