* {
  font-family: 'Prompt', sans-serif;
}
/* @media screen and (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  .rounded {
    border-radius: 6px !important;
  }
  
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    .no-gutters-lg {
      margin-right: 0;
      margin-left: 0;
    }
    .no-gutters-lg > .col, .no-gutters-lg > [class*=col-] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .mark, mark {
    padding: 0;
  }
  
  .article-card {
    padding: 30px;
    border-radius: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  }
  @media (max-width: 1200px) {
    .article-card-sm {
      padding: 20px;
    }
  }
  @media (max-width: 991px) {
    .article-card {
      padding: 25px;
    }
  }
  @media (max-width: 575px) {
    .article-card {
      padding: 15px;
    }
  }
  
  /* .card {
    border: 0;
    position: relative;
  } */
  /* .card-meta {
    padding-left: 0;
  }
  .card-meta li {
    list-style-type: none;
    margin-right: 10px;
    display: inline-block;
  }
  .card-meta li a {
    font-weight: 500;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .card-meta li a:hover {
    color: #13AE6F;
  }
  .card-footer {
    background-color: transparent;
  }
  .card-footer span {
    vertical-align: middle;
    color: #888;
  }
  .card-img {
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .card-image {
    position: relative;
  }
  .card-image img {
    border-radius: 0;
  }
  .card-image .post-info {
    position: absolute;
    right: 0;
    top: -5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-image .post-info span {
    display: inline-block;
    line-height: 1.3;
    font-size: 12px;
    padding: 3px 8px;
    padding-top: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 0;
    margin-top: 5px;
  }
  
  .read-more-btn {
    font-family: "Neuton", serif;
    font-size: 18px;
  }
  
  .post-title {
    color: #000;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(#3deaa4, #3deaa4);
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 0% 8px;
    transition: background-size 0.3s;
  }
  .post-title-sm {
    background-size: 0% 3px;
  }
  
  a.post-title:hover {
    color: #000;
    background-size: 100% 8px;
  }
  
  a.post-title-sm:hover {
    background-size: 100% 3px;
  }
  
  /* blog */
  /* .pagination {
    justify-content: center;
  }
  .pagination .page-item .page-link {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 0;
    border: 1px solid #ececec;
    text-align: center;
    margin: 0 4px;
    font-weight: 500;
    color: #131313;
    padding: 0;
    line-height: 41px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  }
  .pagination .page-item .page-link:focus, .pagination .page-item .page-link:hover {
    box-shadow: none;
    background: #13AE6F;
    color: #fff;
  }
  .pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
    border-radius: 0;
  }
  .pagination .page-item.active .page-link {
    background: #13AE6F;
    color: #fff;
    border-color: #13AE6F;
  }
  
  .post-meta {
    padding-left: 0;
  }
  .post-meta li {
    list-style-type: none;
    display: inline-block;
    color: #888;
    font-weight: 500;
  }
  .post-meta li a {
    display: inline-block;
    background-color: rgba(19, 19, 19, 0.05);
    color: black;
    text-transform: capitalize;
    padding: 2px 8px;
    margin-bottom: 8px;
    margin-right: 2px;
    font-size: 14px;
    border-radius: 0;
  }
  .post-meta li a:hover {
    background-color: rgba(61, 234, 164, 0.25);
  }
  .post-meta li svg {
    display: inline-block;
  }
  
  .image-fallback {
    font-size: 0;
    height: 220px;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 0;
    display: inline-block;
  }
  .image-fallback::first-letter {
    font-size: 80px;
    line-height: 220px;
    font-weight: bold;
    color: #19234C;
  }
  .image-fallback.post-thumb-sm::first-letter {
    font-size: 50px;
    line-height: 60px;
  }
  .image-fallback-sm {
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
  }
  .image-fallback-sm::first-letter {
    font-size: 50px;
    line-height: 120px;
  }
  .image-fallback-xs {
    height: 80px;
    width: 80px;
  }
  .image-fallback-xs::first-letter {
    font-size: 38px;
    line-height: 80px;
  }
  
  .breadcrumbs {
    background-color: transparent;
    padding: 15px 0;
  }
  .breadcrumbs a {
    color: #131313;
  }
  .breadcrumbs a:hover {
    text-decoration: underline;
  }
  .breadcrumbs a:last-child {
    color: rgba(19, 19, 19, 0.5);
    pointer-events: none;
  }
  
  /* content style */
  /* .content * {
    margin-bottom: 5px;
  }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content .h1, .content .h2, .content .h3, .content .h4, .content .h5, .content .h6 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .content a {
    color: inherit !important;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(#3deaa4, #3deaa4);
    background-position: 0% 110%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: 0.3s;
  }
  .content a:hover {
    color: #000;
    background-size: 100% 100%;
  }
  .content.bg-dark a:hover {
    background-image: linear-gradient(rgba(19, 174, 111, 0.4), rgba(19, 174, 111, 0.4));
  }
  .content ol {
    padding-left: 20px;
  }
  .content ul {
    padding-left: 0;
  }
  .content ul li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    list-style-type: none;
  }
  .content ul li a {
    display: inline-block;
    margin-bottom: 10px;
  }
  .content ul li::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: 0;
    top: 7px;
    background-color: #13AE6F;
    transition: 0.3s ease;
  }
  .content table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
  }
  .content table th,
  .content table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
  }
  .content table thead {
    background: #f1f1f1;
  }
  .content table tbody {
    background: #F6F6F6;
  }
  .content table tbody td {
    text-align: left !important;
  }
  .content blockquote {
    border-left: 4px solid #13AE6F;
    padding: 20px;
    margin: 20px 0;
  }
  .content blockquote p {
    margin-bottom: 0;
    color: #333;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
  }
  .content pre {
    padding: 10px 20px;
    background: #F6F6F6;
  }
  
  /* widget */
  /* .widget-blocks {
    padding-left: 20px;
  }
  @media (max-width: 991px) {
    .widget-blocks {
      padding-left: 0;
    }
  }
  .widget-blocks .row > .col:last-child .widget, .widget-blocks .row > [class*=col-]:last-child .widget {
    margin-bottom: 0 !important;
  }
  
  .widget {
    margin-bottom: 50px;
  }
  .widget-body {
    padding: 30px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  }
  @media (max-width: 1200px) {
    .widget-body-sm {
      padding: 20px;
    }
  }
  @media (max-width: 991px) {
    .widget-body {
      padding: 25px;
    }
  }
  @media (max-width: 575px) {
    .widget-body {
      padding: 15px;
    }
  }
  .widget-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .widget-list .card {
    border-bottom: 1px dashed #ececec;
    padding-bottom: 15px;
  }
  .widget-list .media img {
    height: 80px;
    width: 80px !important;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }
  .widget-list .media:not(:last-child) {
    border-bottom: 1px dashed #ececec;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .widget-list .media:hover {
    opacity: 0.8;
  }
  .widget-list li {
    display: inline-block;
  }
  .widget-list li a {
    background-color: rgba(19, 19, 19, 0.05);
    color: black;
    text-transform: capitalize;
    padding: 6px 16px;
    margin-bottom: 9px;
    margin-right: 9px;
    display: block;
    font-size: 14px;
    border-radius: 0;
  }
  .widget-list li a:hover {
    background-color: rgba(61, 234, 164, 0.25);
  }
  
  .author-thumb-sm {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  @media (max-width: 991px) {
    .author-thumb-sm {
      height: 250px;
    }
  }
  @media (max-width: 767px) {
    .author-thumb-sm {
      height: 200px;
    }
  }
  
  .post-thumb-sm {
    height: 80px;
    width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }
  
  .copyright {
    background-color: #0e0e0e !important;
    color: #e8e8e8;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
  }
  
  
  .form-control {
    border-radius: 0;
    min-height: 50px;
    padding: 10px 15px;
  }
  .form-control:focus {
    border-color: #131313;
    box-shadow: none;
  }
.wbtn {
  background-color: #182A54 !important;
  color: whitesmoke !important;
}
 */ */ */ */ */
.line2 {
  border-left: thick solid red !important;
  border-style:  none  none  none solid;
  padding: 10px;
}
.section > .container > .main-news > .line {
  border-left: thick solid hotpink !important;
  border-style:  none  none  none solid;
  padding: 10px;
}
.section > .container > .main-news > .line { 
  border-left: thick solid hotpink !important;
  border-style:  none  none  none solid;
  padding: 10px;
  
}
.wbtn {
  background-color: #182A54 !important;
  color: whitesmoke !important;
}